<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting label="[B][COLOR white]Onde baixar:[/COLOR][/B]" type="text" /> 
	<setting label="[COLOR yellow]http://bit.ly/CUBEPLAY[/COLOR]" type="text" />
	<setting label="" type="sep" />
	<setting label="[B][COLOR white]Pagina no Facebook:[/COLOR][/B]" type="text" /> 
	<setting label="[COLOR blue]http://fb.com/CubePlayKodi[/COLOR]" type="text" />
	<setting id="makeGroups" type="text" label="30036" default="true" visible="false"/>
	<setting id="Cat" label="cat" type="text" default="0" visible="false" />
	<setting label="" type="sep" />
	<setting id="actDelFavourites" type="action" label="Limpar todos os Favoritos" action="RunPlugin(plugin://plugin.video.CubePlay/default.py?mode=39&url=settings)" option="close"/>
	<setting id="cPage" label="cPage" type="text" default="0" visible="false" />
	<setting id="cPageleg" label="cPageleg" type="text" default="0" visible="false" />
	<setting id="cPagenac" label="cPagenac" type="text" default="0" visible="false" />
	<setting id="cPageser" label="cPageser" type="text" default="0" visible="false" />
	<setting id="cPageani" label="cPageani" type="text" default="0" visible="false" />
	<setting id="cPagedes" label="cPagedes" type="text" default="0" visible="false" />
	<setting label="" type="sep" />
	<setting id="cadulto" label="Senha para liberar conteudo adulto:" option="hidden" type="text" default="0" />
</settings>
