<settings>
    <setting id="Cat" value="0" />
    <setting id="Catfo" value="0" />
    <setting id="actDelFavourites" value="" />
    <setting id="actDelHistorico" value="" />
    <setting id="cEPG" value="0" />
    <setting id="cOrdFO" value="1" />
    <setting id="cOrdRCF" value="0" />
    <setting id="cOrdRCS" value="1" />
    <setting id="cPage" value="0" />
    <setting id="cPageani" value="0" />
    <setting id="cPagedes" value="0" />
    <setting id="cPagefo1" value="0" />
    <setting id="cPageleg" value="0" />
    <setting id="cPagenac" value="0" />
    <setting id="cPageser" value="0" />
    <setting id="cadulto" value="update" />
    <setting id="makeGroups" value="true" />
</settings>
